h1 {
  color: darkgreen;
}
.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 0.6em;
  margin-bottom: 1em;
}

.card-img-top {
  object-fit: cover;
  aspect-ratio: 1;
}

.text-limiter {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
